@import "tailwindcss";
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/

/* Your font faces & tweaks */
@layer base {
  :root {
    --font-display: "Red Hat Display", sans-serif;
    --font-text: "Red Hat Text", sans-serif;
  }
  html {
    font-family: var(--font-text);
  }
}
